footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  /* position: fixed; */
  bottom: -50px;
  display: none;
}

.footer {
  display: flex;
  padding: 20px;
}

.footer li {
  padding: 50px;
}