@import url(reset.css);
@import url(header.css);
@import url(main.css);

* {
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #262c3a;
}

.layout {
  display: flex;
  justify-content: space-between;
}

header {
  width: 290px;
  height: 3000px;
}

main {
  width: 1400px;
  height: 3000px;
  margin: 0 100px;
  /* background-color: #156; */
}

